server {
    listen       ${NGINX_INNER_PORT};
    server_name  ${NGINX_HOST};

    location /metrics {
        fastcgi_pass    php-fpm:9001;
        include         fastcgi_params;
        fastcgi_param   REQUEST_METHOD     GET;
        fastcgi_param   SCRIPT_FILENAME    /dev/null;
        fastcgi_param   SCRIPT_NAME        /metrics;
        fastcgi_param   QUERY_STRING       openmetrics;
    }
} 